[Desktop Entry]
Encoding=UTF-8
Name=Link to Many Symptoms Suggest Sluggish Thyroid – Do You Have Any of These? by Joseph Mercola
Type=Link
URL=http://www.lewrockwell.com/orig5/mercola26.1.html
Icon=gnome-fs-bookmark
