[Desktop Entry]
Encoding=UTF-8
Name=Link to Obesity Breakthrough?
Type=Link
URL=http://www.lewrockwell.com/spl/flavonoids-control-weight.html
Icon=gnome-fs-bookmark
