[Desktop Entry]
Encoding=UTF-8
Name=Link to The Amazing Wonder Product for the Frugal
Type=Link
URL=http://lewrockwell.com/spl/vinegar.html
Icon=gnome-fs-bookmark
